= form_for @currentaffair do |f|
  - if @currentaffair.errors.any?
    #error_explanation
      %h2= "#{pluralize(@currentaffair.errors.count, "error")} prohibited this currentaffair from being saved:"
      %ul
        - @currentaffair.errors.full_messages.each do |message|
          %li= message
  .form-group
    .col-sm-2
      = f.label :source
    .col-sm-10
      = f.select(:source,['INSIGNT','IAS BABA'],{},class: 'form-control')
  .form-group
    .col-sm-2
      = f.label :name
    .col-sm-10
      = f.date_field(:name,order:[:day,:month,:year],class: 'form-control')

  .form-group
    = f.submit 'Save',class: 'btn btn-primary'
