%nav.navbar.navbar-inverse
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Home',root_path,class: 'navbar-brand'
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to "Todo",todos_path

        %li
          = link_to "Current Affairs",currentaffairs_path
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Add
            %span.caret
          %ul.dropdown-menu
            %li
              =link_to "New Todo",new_todo_path
            %li
              = link_to "New current Affair task",new_currentaffair_path

            %li
              = link_to "New Subject",new_study_path

      %form.navbar-form.navbar-left

    / /.navbar-collapse
  / /.container-fluid
