%nav.navbar.navbar-inverse
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to  root_path,class: 'navbar-brand' do
        %span.glyphicon.glyphicon-home
        Home
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to todos_path,class: 'no-style' do
            %span.glyphicon.glyphicon-th-list
            Todo

        %li
          = link_to currentaffairs_path do
            %span.glyphicon.glyphicon-info-sign
            Current Affairs
        %li
          = link_to studies_path do
            %span.glyphicon.glyphicon-book
            Subject
        %li
          = link_to pendings_path do
            %span.glyphicon.glyphicon-tags
            Pending work
        %li
          = link_to new_todo_path do
            %span.glyphicon.glyphicon-plus-sign
            New Todo
        %li
          = link_to new_study_path do
            %span.glyphicon.glyphicon-plus-sign
            New Book
        %li
          = link_to new_currentaffair_path do
            %span.glyphicon.glyphicon-plus-sign
            New Current Affairs


      %form.navbar-form.navbar-left

    / /.navbar-collapse
  / /.container-fluid
