.row
  .col-md-9
    .panel.panel-primary
      .panel-heading
        %h1
          Welcome Vikas
          Today is
          = Time.now.strftime('%A')
      .panel-body
        %p
          %h3
            %span.glyphicon.glyphicon-triangle-right
            Last thing you read was
            - if  Task.order('updated_at DESC').first!=nil
              = Task.order('updated_at DESC').first.name.split(".").join(" ")
        %p
          %h3
            %span.glyphicon.glyphicon-triangle-right
            Toady You have to read
            - if Time.now.strftime("%A")=='Monday'
              History
            - elsif   Time.now.strftime("%A")=='Tuesday'
              Geography
            - elsif Time.now.strftime("%A")=='Wednesday'
              Political Science
            - elsif Time.now.strftime("%A")=='Thrusday'
              Economics
            - elsif Time.now.strftime("%A")=='Friday'
              Mechanical
            - elsif Time.now.strftime("%A")=='Saturday'
              Current Affairs
            - else
              Revision
        %p
          %h3
            %span.glyphicon.glyphicon-triangle-right
            you have
            = Pending.count
            pending work
        %p
          %h3
            %span.glyphicon.glyphicon-triangle-right
            - Todo.all.each do |i|
              %b= i.name
              task has
              %b= i.tasks.where(done: true).count+taskcounter(i)[0]
              task done out of
              %b= i.tasks.count+taskcounter(i)[1]
              %br
        = column_chart Taskrecord.all.group(:date).count

      .panel-footer

        = link_to new_todo_path,class: 'btn btn-info' do
          %span.glyphicon.glyphicon-plus-sign
          New Todo
        = link_to new_study_path,class: 'btn btn-info' do
          %span.glyphicon.glyphicon-plus-sign
          New Book
        = link_to new_currentaffair_path,class: 'btn btn-info' do
          %span.glyphicon.glyphicon-plus-sign
          New Current Affairs

  .col-md-3