%p.notice= notice
.row
  .col-md-9
    .panel.panel-primary
      .panel-heading
        %h2 History
      .panel-body
        %table.table
          %tr
            %th Book
            %th Edit
            %th Delete

          - @his.each do |i|
            %tr
              %td= link_to i.book,i
              %td= link_to "Edit",edit_study_path(i)
              %td= link_to "delete",i,method: :delete



    .panel.panel-primary
      .panel-heading
        %h2 Geography
      .panel-body
        %table.table
          %tr
            %th Book
            %th Edit
            %th Delete

          - @geo.each do |i|
            %tr
              %td= link_to i.book,i
              %td= link_to "Edit",edit_study_path(i)
              %td= link_to "delete",i,method: :delete


    .panel.panel-primary
      .panel-heading
        %h2 Economics
      .panel-body
        %table.table
          %tr
            %th Book
            %th Edit
            %th Delete

          - @eco.each do |i|
            %tr
              %td= link_to i.book,i
              %td= link_to "Edit",edit_study_path(i)
              %td= link_to "delete",i,method: :delete
    .panel.panel-primary
      .panel-heading
        %h2 Political science
      .panel-body
        %table.table
          %tr
            %th Book
            %th Edit
            %th Delete

          - @pol.each do |i|
            %tr
              %td= link_to i.book,i
              %td= link_to "Edit",edit_study_path(i)
              %td= link_to "delete",i,method: :delete
    .panel.panel-primary
      .panel-heading
        %h2 Mechanical
      .panel-body
        %table.table
          %tr
            %th Book
            %th Edit
            %th Delete

          - @mec.each do |i|
            %tr
              %td= link_to i.book,i
              %td= link_to "Edit",edit_study_path(i)
              %td= link_to "delete",i,method: :delete
    .panel.panel-primary
      .panel-heading
        %h2 Aptitude
      .panel-body
        %table.table
          %tr
            %th Book
            %th Edit
            %th Delete

          - @apti.each do |i|
            %tr
              %td= link_to i.book,i
              %td= link_to "Edit",edit_study_path(i)
              %td= link_to "delete",i,method: :delete
  .col-md-3
    = link_to 'New Study', new_study_path,class: 'btn btn-primary'



