.row
  .col-md-9
    .panel.panel-primary
      .panel-heading
        %h2
          %span.glyphicon.glyphicon-book
          = @study.subject
          = @study.book
          = link_to 'Edit', edit_study_path(@study),class: 'btn btn-primary'
      .panel-body
        %table.table
          %tr
            %th
              Chapter
            %th
              No of revision
            %th
              Action
          - @study.chapters.each do |i|
            %tr
              %td= i.name
              %td= i.revision
              %td
                = link_to addRevision_path(@study,i),data: {confirm: 'add revision'} ,class: 'btn btn-info' do
                  %span.glyphicon.glyphicon-plus
                  Add revision



  .col-md-3
    = render 'chapters/form'


