= form_for @todo do |f|
  - if @todo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@todo.errors.count, "error")} prohibited this todo from being saved:"
      %ul
        - @todo.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name,class: 'form-control'
  .actions
    = f.submit 'Save',class: 'btn btn-primary'
