.notice= notice
.row
  .col-md-9
    - @todos.each_slice(3) do |i|
      .row
        .col-md-4
          - if i[0]!=nil && i[0].tasks!=nil
            .panel.panel-primary
              .panel-heading
                %h3= i[0].name
              .panel-body
                .progress
                  .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{taskcounter(i[0])}", :role => "progressbar", :style => "width: #{taskcounter(i[0])}%"}
                    = taskcounter(i[0])
                    \%


              .panel-footer
                = link_to 'Show',i[0],class: 'btn btn-info'
                = link_to 'Edit',edit_todo_path(i[0]),class: 'btn btn-primary'
                = link_to 'Delete',i[0],method: :delete,data: {confirm: 'are you sure'},class: 'btn btn-danger'

        .col-md-4
          - if i[1]!=nil
            .panel.panel-primary
              .panel-heading
                %h3= i[1].name
              .panel-body


                .progress
                  .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{taskcounter(i[1])}", :role => "progressbar", :style => "width: #{taskcounter(i[1])}%;"}
                    = taskcounter(i[1])
                    \%
              .panel-footer
                = link_to 'Show',i[1],class: 'btn btn-info'
                = link_to 'Edit',edit_todo_path(i[1]),class: 'btn btn-primary'
                = link_to 'Delete',i[1],method: :delete,data: {confirm: 'are you sure'},class: 'btn btn-danger'
        .col-md-4
          - if i[2]!=nil
            .panel.panel-primary
              .panel-heading
                %h3= i[2].name
              .panel-body


                .progress
                  .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{taskcounter(i[2])}", :role => "progressbar", :style => "width: #{taskcounter(i[2])}%;"}
                    = taskcounter(i[2])
                    \%
              .panel-footer
                = link_to 'Show',i[2],class: 'btn btn-info'
                = link_to 'Edit',edit_todo_path(i[2]),class: 'btn btn-primary'
                = link_to 'Delete',i[2],method: :delete,data: {confirm: 'are you sure'},class: 'btn btn-danger'




  .col-md-3




