%p#notice= notice

.row
  .col-md-9
    .panel.panel-primary
      .panel-heading
        %h3= @todo.name
      .panel-body
        %table.table
          %tr
            %td Name
            %td action
            %td action
          - @todo.tasks.each do |i|
            %tr
              %td
                - if i.done==true
                  %del= i.name
                - else
                  = i.name
              - if i.done!=true
                %td= link_to "Done",done_path(@todo,i)
                %td= link_to 'delete',[@todo,i],method: :delete,data: {confirm: 'sure'}
              - else
                %td
                %td= link_to 'delete',[@todo,i],method: :delete,data: {confirm: 'sure'}
          - Currentaffair.all.each do |i|
            %tr
              - if i.todo==@todo.name
                - if i.done==true
                  %td
                    %del= i.name.strftime("%d-%m-%y")
                  %td
                  %td= link_to "delete",i,method: :delete
                - else
                  %td= i.name.strftime("%d-%m-%y")
                  %td= link_to "done",donecurrentaffairs_path(i)
                  %td= link_to "delete",i,method: :delete




  .col-md-3

    .row
      %button.btn.btn-primary.btn-md.btn-block{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
        History
    .row
      %button.btn.btn-primary.btn-md.btn-block{"data-target" => "#myModal2", "data-toggle" => "modal", :type => "button"}
        Geography
    .row
      %button.btn.btn-primary.btn-md.btn-block{"data-target" => "#myModal3", "data-toggle" => "modal", :type => "button"}
        Political science
    .row
      %button.btn.btn-primary.btn-md.btn-block{"data-target" => "#myModal4", "data-toggle" => "modal", :type => "button"}
        Economics
    .row
      %button.btn.btn-primary.btn-md.btn-block{"data-target" => "#myModal5", "data-toggle" => "modal", :type => "button"}
        Mechanical
    .row
      %button.btn.btn-primary.btn-md.btn-block{"data-target" => "#myModal6", "data-toggle" => "modal", :type => "button"}
        Aptitude

/ Modal
#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title History
      .modal-body
        = render 'tasks/form'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close


#myModal2.modal.fade{"aria-labelledby" => "myModalLabel2", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel2.modal-title Geography
      .modal-body
        = render 'tasks/form_geo'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close



#myModal3.modal.fade{"aria-labelledby" => "myModalLabel2", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel3.modal-title Political science
      .modal-body
        = render 'tasks/form_poi'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

#myModal4.modal.fade{"aria-labelledby" => "myModalLabel2", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel4.modal-title Eco
      .modal-body
        = render 'tasks/form_eco'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

#myModal5.modal.fade{"aria-labelledby" => "myModalLabel2", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel5.modal-title Mechanical
      .modal-body
        = render 'tasks/form_mech'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

#myModal6.modal.fade{"aria-labelledby" => "myModalLabel2", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel6.modal-title Aptitude
      .modal-body
        = render 'tasks/form_apti'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

