%p#notice= notice
%p
  %strong Name:
  = @chapter.name
%p
  %strong Revision:
  = @chapter.revision
%p
  %strong Study:
  = @chapter.study_id
= link_to 'Edit', edit_chapter_path(@chapter)
|
= link_to 'Back', chapters_path
